{% extends "base_layout.html" %}

{% block title %}
Create Project
{% endblock %}

{% block main %}
<div class="text-center">
<h2>Create a Project</h2>
</div>
<form method="POST" action="" class="row g-3 justify-content-center">
  <div class="col-md-6">
    <div class="form-group">
      <label for="name" class="form-label">Project Name:</label>
      <input type="text" id="name" name="name" class="form-control" placeholder="Enter Project Name" required>
    </div>
  
    <div class="form-group">
      <label for="owner" class="form-label">Project Owner:</label>
      <input type="text" id="owner" name="owner" class="form-control" placeholder="Enter Owner Name" required>
    </div>
  
    <div class="form-group">
      <label for="description" class="form-label">Project Description:</label>
      <textarea id="description" name="description" rows="5" class="form-control" placeholder="Enter Project Description" required></textarea>
    </div>
  
    <div class="form-group">
      <label for="manager" class="form-label">Project Manager:</label>
      <select id="manager" name="manager" class="form-select custom-select" required>
        <option value="">--Select--</option>
        {% for manager in Managers %}
        <option value="{{ manager.Email }}">{{ manager.Email.split('@')[0].lower() }}</option>
        {% endfor %}
        {% for admin in Admins %}
        <option value="{{ admin.Email }}">{{ admin.Email.split('@')[0].lower() }}</option>
        {% endfor %}
      </select>
    </div>
    
    <div class="form-group">
      <label for="members" class="form-label">Members:</label>
      <select id="members" name="members" multiple class="form-select custom-select" required>
        <option value="">--Select--</option>
        {% for member in Members %}
        <option value="{{ member.Email }}">{{ member.Email.split('@')[0].lower() }}</option>
        {% endfor %}
        {% for team_lead in Team_Lead %}
        <option value="{{ team_lead.Email }}">{{ team_lead.Email.split('@')[0].lower() }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="start-date" class="form-label">Start Date:</label>
      <input type="date" id="start-date" name="start-date" class="form-control" required>
    </div>
  
    <div class="form-group">
      <label for="end-date" class="form-label">End Date:</label>
      <input type="date" id="end-date" name="end-date" class="form-control" required>
    </div>
  
    <div class="form-group">
      <div class="d-grid">
        <input type="submit" value="Create Project" class="btn btn-primary">
      </div>
    </div>
  </div>
</form>  
{% endblock %}