{% extends "base_layout.html" %}

{% block title %}
Update Epic - {{ epic.EpicName }} 
{% endblock %}

{% block main %}
<div class="text-center">
  <h2>Update Epic - {{ epic.EpicName }}</h2>
</div>
<form method="POST" action="" class="row g-3 justify-content-center">
  <div class="col-md-6">
    <div class="form-group">
      <label for="EpicName" class="form-label">Epic Name:</label>
      <input type="text" id="EpicName" name="EpicName" class="form-control" value="{{ epic.EpicName }}" required>
    </div>

    <div class="form-group">
      <label for="EpicDescription" class="form-label">Epic Description:</label>
      <textarea id="EpicDescription" name="EpicDescription" rows="5" class="form-control" required>{{ epic.EpicDescription }}</textarea>
    </div>

    <div class="form-group">
      <label for="CreatedBy" class="form-label">Created By:</label>
      <input type="text" id="CreatedBy" name="CreatedBy" class="form-control" value="{{ epic.CreatedBy }}" required disabled>
    </div>

    <div class="form-group">
      <label for="StartDate" class="form-label">Start Date:</label>
      <input type="date" id="StartDate" name="StartDate" class="form-control" value="{{ epic.StartDate }}" required>
    </div>

    <div class="form-group">
      <label for="EndDate" class="form-label">End Date:</label>
      <input type="date" id="EndDate" name="EndDate" class="form-control" value="{{ epic.EndDate }}" required>
    </div>

    <div class="form-group">
      <div class="d-grid">
        <input type="submit" value="Update" class="btn btn-primary">
      </div>
    </div>
  </div>
</form>
{% endblock %}
